In [4]:
import pandas as pd

departments = "departments.csv"

In [7]:
df = pd.read_csv(departments)
df.head(100)

  dept_no           dept_name
0    d001           Marketing
1    d002             Finance
2    d003     Human Resources
3    d004          Production
4    d005         Development
5    d006  Quality Management
6    d007               Sales
7    d008            Research
8    d009    Customer Service